@{
    ViewData["Title"] = "505 Error";
}

<div style="background-color: #ffff;" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-danger">505 Server Error</h1>
        <p class="lead">Oops! Keliatannya Ada Sesuatu Yang Salah</p>
        <p>Kami akan segera memperbaikinya.</p>
        <p>Anda bisa mengirim email ke ebola_net@gmail.com untuk informasi lebih lanjut</p>
        <hr class="my-4">
        <p>
            Untuk sementara Waktu Kamu bisa
            <a asp-action="Index" asp-controller="Home" role="button">Kembali Ke Halaman Utama</a>
        </p>
    </div>
</div>