@{
    ViewData["Title"] = "Tentang Ebola.net";
}


<h1 class="display-4">Tentang Ebola.Net</h1>
<div class="row">
    <div class="col-md">
        <p>
            Ebola.Net adalah warnet yang berdiri sejak zaman penjajahan, yang sampai sekarang masih ada
            . Komputer-komputer di Ebola.Net memiliki spesifikasi yang mumpuni untuk menjalakan game-game berat
        </p>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">Instagram</a></li>
            <li class="list-group-item"><a>Facebook</a></li>
            <li class="list-group-item"><a>Twitter</a></li>
        </ul>
    </div>
</div>


