@{
    ViewData["Title"] = "Ebola.Net";
}

<div id="hero" class="jumbotron">
    <h1 data-aos="fade-down" data-aos-duration="550" class="display-4 text-white">Selamat Datang Di <br /> Ebola.Net</h1>
    <p class="lead text-white">Warnet Paling keren sepanjang sejarah!</p>
    <hr class="my-4 text-white">
    <a class="btn btn-light btn-lg bg-transparent text-white" href="#" role="button">Ayok Boking Sekarang</a>
</div>

<div class="row">
    <div class="col-md-6" style="margin: 5em 0;">
        <div class="card d-flex flex-row justify-content-between">
            <img src="~/img/gambarKonten/img1.jpg" class="card-img-top" alt="img1" />
        </div>
    </div>
    <div data-aos-duration="1000" data-aos="fade-left" style="margin: 5em 0;" class="col-md-6">
        <h5 class="card-title">Warnet dengan PC Spesifikasi tinggi</h5>
        <p class="card-text">Dengan spesifikasi yang <em>high-end</em> game-game berat tidak jadi masalah</p>
        <div>
            <p>Spesifikasi</p>
            <ul>
                <li><p><span class="font-weight-bold">CPU</span>: 3.7GHz Intel Core i7 8700K (hexa-core, 12MB Cache, up to 4.7GHz)</p></li>
                <li><p><span class="font-weight-bold">VGA</span>: Nvidia GeForce GTX 1080 Ti (11GB GDDR5X)</p></li>
                <li><p><span class="font-weight-bold">RAM</span>: 32GB dual channel DDR4 (2666MHz)</p></li>
                <li><p><span class="font-weight-bold">Media penyimpanan</span>: 512GB M.2 PCIe NVMe SSD, 2TB HDD (7,200 rpm)</p></li>
                <li><p><span class="font-weight-bold">Motherboard</span>: Dell Proprietary (Intel Z370 chipset)</p></li>
            </ul>
        </div>
    </div>
    @* Kolam Renang *@
    <div data-aos-duration="1000" data-aos="fade-right" class="col-md-6" style="margin: 5em 0;">
        <h5 class="card-title">Fasilitas Yang memanjakan para pemain warnet</h5>
        <p class="card-text">Dengan fasilitas yang hebat, para pemain seakan bermain di rumah sendiri</p>
        <div>
            <p>Fasilitas</p>
            <ul>
                <li><p><span class="font-weight-bold">Layanan resepsionis 24 jam dengan staff yang menguasai berbagai bahasa.</span><br />Mereka senantiasa akan selalu siap melayani Anda 24 jam sehari.</p></li>
                <li><p><span class="font-weight-bold">Servis antar & valet parking</span><br />Mereka akan membawakan barang-barang Anda sekaligus memarkirkan kendaraan Anda (dengan biaya atau tips tertentu).</p></li>
                <li><p><span class="font-weight-bold">Kolam Renang</span><br />Tempat dimana anda bisa menghabiskan waktu untuk memikirkan <em>lose streak</em> anda</p></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6" style="margin: 5em 0;">
        <div class="card d-flex flex-row justify-content-between">
            <img src="~/img/gambarKonten/pool.jpg" class="card-img-top" alt="img1" />
        </div>
    </div>
    @* Sewa tempat tournament *@
    @*<div class="col-md-12 text-center">
        <h2>Kami juga menyediakan penyewaan tempat tournament</h2>
        <img src="~/img/gambarKonten/la-fi-esl-esports-promoter-20151024.jpg" class="img-fluid" style="max-width: 100%; height: auto;" alt="Responsive image" />
    </div>*@
</div>